*.rlib
*.elf
*.o
*.a
*/*.o
*/*.a
*.psexe
*/target
*/*/target
Cargo.lock
*/Cargo.lock
mips_toolchain/*
rust/
psxdev/*
examples/filesizes
*/*/*/target
psx/*.zip
compress/*.tim
target/
compress/
*.mp4
*old*/
*bkp*/
*.bin
*.cue
*.iso
tools/
*.txt
